<!DOCTYPE html>
<html>
  <head>
    <title>Shelf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:100,400,600', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" >
      <div class="navbar">
        <span class="h2-font-size font-light navbar-title">Shelf</span>
      </div>
      <%= yield %>
    </div
  </body>
</html>
